<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="EN">
    <head>
        <meta charset="utf-8"/>
        <title>Dir and files</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">

            <div style="text-align: left;">
                <h1>Директории и файлы</h1>
            </div>

            <hr>

            <div class="container row">
                <form th:action="@{/addir}" method="POST" class="form-inline">
                    Новая директория
                    <div class="col-sm">
                        <input type="text" name="fullPath" placeholder="введите путь к директории" class="form-control input-normal">
                    </div>
                    <button class="btn btn-outline-secondary" type="submit">Добавить в список</button>
                </form>
            </div>

            <br>

            <table class="table table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th>Дата/время</th>
                        <th>Базовая директория</th>
                        <th>Количество <br> директорий</th>
                        <th>Количество <br> файлов</th>
                        <th>Суммарный <br> размер файлов</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="fullPath, iterator : ${fullPathList}">
                        <td th:text="${fullPath.dateFormatted}"></td>
                        <td th:text="${fullPath.fullPath}"></td>
                        <td th:text="${fullPath.dirsCount}"></td>
                        <td th:text="${fullPath.filesCount}"></td>
                        <td th:text="${fullPath.summarySizeFormatted}"></td>
                        <td>
                            <form th:action="@{'/files/' + ${fullPath.id}}" method="POST" class="form-inline">
                                <button class="btn btn-outline-secondary" type="submit">Файлы</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </body>
</html>